{% extends "base.html" %}
{% block body %}
<!-- <div class="content"> styles to be added -->
<div class="media">
  <img class="rounded-circle account-img small-img img-fluid" src="{{ img }}">
  <div class="media-body">
    <h2 class="account-heading">{{ current_user.username }}</h2>
    <p class="text-secondary">{{ current_user.email }}</p>
  </div>
</div>
<div class="main-style">
  <form class="row g-3 needs-validation" novalidate method="POST" , action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend>Account Information</legend>
      <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {% if submitted %}

        {% if form.username.errors %}
        {{ form.username(class="form-control form-control-lg is-invalid input-group has-validation") }}
        <div class="invalid-feedback">
          {% for e in form.username.errors %}
          <span>{{ e }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.username(class="form-control form-control-lg is-valid") }}
        <div class="valid-feedback">
          Looks good!
        </div>
        {% endif%}
        {% else %}
        {{ form.username(class="form-control form-control-lg") }}
        {% endif %}

      </div>
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if submitted %}
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for e in form.email.errors %}
          <span>{{ e }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.email(class="form-control form-control-lg is-valid") }}
        <div class="valid-feedback">
          Looks good!
        </div>
        {% endif%}
        {% else %}
        {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group ">
        {{ form.submit_btn(class="btn btn-outline-info")}}
      </div>
    </fieldset>
    <!-- to be continue -->
  </form>
</div>
</div>
{% endblock %}
